<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.strand.mapper.CommentMapper">
    <insert id="insertComment"
            parameterType="me.strand.model.rest.request.InsertCommentRequest"
            useGeneratedKeys="true"
    >
        INSERT INTO post_comment (content, id_post, hidden)
        VALUES (#{content}, #{idPost}, #{hidden})
    </insert>
</mapper>