<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.strand.mapper.SectionMapper">
    <select id="getSectionSummaries" resultType="SectionSummary">
        SELECT
            s.id_section as idSection,
            s.title
        FROM section as s
    </select>

    <insert id="insertSection" parameterType="InsertSectionRequest" useGeneratedKeys="true"
    >
        INSERT INTO section(title)
        VALUES(#{title})
    </insert>
</mapper>