<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.strand.mapper.SubsectionMapper">
    <select id="getSubsectionSummariesForSection" resultType="SubsectionSummary">
        SELECT
            s.id_subsection as idSubsection,
            s.title
        FROM subsection as s
        WHERE s.id_section = #{idSection}
    </select>

    <insert id="insertSubsection" parameterType="InsertSubsectionRequest" useGeneratedKeys="true"
    >
        INSERT INTO subsection(title, description, id_section)
        VALUES(#{title}, #{description}, #{idSection})
    </insert>
</mapper>