<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.strand.mapper.SubtopicMapper">
    <select id="getSubtopicsForSubsection" resultType="SubtopicSummary">
        SELECT
            s.id_subtopic as idSubtopic,
            s.title
        FROM subtopic as s
        WHERE s.id_subsection = #{idSubsection}
    </select>
</mapper>