<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.strand.mapper.UserMapper">
    <select id="getUserByUsername" resultType="me.strand.model.dto.User">
        SELECT id_user,
               username,
               password,
               email,
               banned,
               mute_duration,
               id_user_group
        FROM "user" AS u
        WHERE u.username = #{username}
    </select>
</mapper>