<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="me.strand.model.dto.view.mainpage.PostSummary" alias="PostSummary"/>
        <typeAlias type="me.strand.model.rest.request.InsertPostRequest" alias="InsertPostRequest"/>
        <typeAlias type="me.strand.model.dto.view.mainpage.SectionSummary" alias="SectionSummary"/>
        <typeAlias type="me.strand.model.dto.view.mainpage.SubsectionSummary" alias="SubsectionSummary"/>
        <typeAlias type="me.strand.model.dto.view.mainpage.SubtopicSummary" alias="SubtopicSummary"/>
        <typeAlias type="me.strand.model.dto.view.mainpage.AnnouncementSummary" alias="AnnouncementSummary"/>
        <typeAlias type="me.strand.model.dto.view.mainpage.StatisticsSummary" alias="StatisticsSummary"/>
        <typeAlias type="me.strand.model.dto.view.post.PostCommentDetails" alias="PostCommentDetails"/>
        <typeAlias type="me.strand.model.dto.view.post.PostDetails" alias="PostDetails"/>
        <typeAlias type="me.strand.model.rest.request.InsertSectionRequest" alias="InsertSectionRequest"/>
        <typeAlias type="me.strand.model.rest.request.InsertCommentRequest" alias="InsertPostCommentRequest"/>
        <typeAlias type="me.strand.model.rest.request.InsertSubsectionRequest" alias="InsertSubsectionRequest"/>
        <typeAlias type="me.strand.model.rest.request.InsertSubtopicRequest" alias="InsertSubtopicRequest"/>
        <typeAlias type="me.strand.model.llm.analytics.CommentAnalytics" alias="CommentAnalytics"/>
        <typeAlias type="me.strand.model.llm.analytics.PostAnalytics" alias="PostAnalytics"/>
    </typeAliases>
</configuration>